.resultContainer{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#cbf1d8,#c5ece5);
}

.resultCard{
  background:white;
  padding:40px;
  border-radius:15px;
  text-align:center;
  width:320px;
  box-shadow:0 10px 25px rgba(0,0,0,0.25);
}
