.app {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.form input {
  margin: 10px;
  padding: 8px;
  width: 150px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}
.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-container img {
  width: 300px;       
  height: 200px;      
  object-fit: cover;  
  border-radius: 10px;
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content {
  background: white;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  position: relative;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
